{% load static %}
<div class="media question-item mb-md-4">
    <div class="align-self-start mr-3">
        <img src="{{ question.author.avatar.url }}" alt="Generic placeholder image">
        <div class="row mt-3 justify-content-center">
            <p>{{ question.author.nickname }}</p>
        </div>
        <div class="row small like ml-0">
             <div class="col-md-4">
                 <i class="like-icon fa fa-heart-o" data-id="{{ question.pk }}" aria-hidden="true"></i>
            </div>
            <div class="col-md-8 element-rating">
                <div class="rating-number">{{ question.likes.get_number_of_likes }}</div>
            </div>
        </div>
    </div>
    <div class="media-body ml-3">
        <h5 class="mt-0"><a href="{% url "question_page" pk=question.id%}">{{ question.title }}</a></h5>
        <p>{{ question.text|truncatewords:30|truncatechars:100 }}</p>
        <a href="{% url 'question_page' pk=question.id %}">answer({{ question.comment_set.all.count }})</a>
        {% if question.tags.all %}
            <span>Tags:
                {% for tag in question.tags.all %}
                    <a href="{{ tag.get_url }}">{{ tag }}</a>
                {% endfor %}
            </span>
        {% endif %}
    </div>
</div>